<!--================ admin header Area =================-->

<%- include('../partials/admin/adminheader')%>
    <!--================ end admin header Area =================-->
    <!--================ admin nav Area =================-->

    <%- include('../partials/admin/adminnav')%>

        <!--================ end admin nav Area =================-->
        <!--================ admin aside Area =================-->

        <%- include('../partials/admin/adminaside')%>

            <!--================ end admin aside Area =================-->
            <main id="main" class="main">

                <div class="pagetitle">
                    <div class="row">
                        <div class="col-10">
                            <h1>Manage Portfolio</h1>
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active">Manage Portfolio</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-2">
                            <a type="button" class="btn btn-success " href="/admin/createpotfolio">Add New</a>
                        </div>
                    </div><!-- End Page Title -->

                    <section class="section dashboard">
                        <div class="row">
                            <div class="dataTable-top">
                                <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                        </select> entries per page</label></div>
                                <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..."
                                        type="text">
                                </div>
                            </div>
                            <!-- Table with stripped rows -->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Catagory</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Short Description</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col">Last updated</th>
                                        <th scope="col">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Personal</td>
                                        <td><img src="admin/img/logo.png" alt=""></td>
                                        <td>Blog app</td>
                                        <td>Personal Blog</td>
                                        <td>2016-05-25</td>
                                        <td>2016-05-25</td>
                                        <td>
                                            <a type="button" class="btn btn-outline-primary "
                                                href="/admin/editportfolio">Edit</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Personal</td>
                                        <td><img src="admin/img/logo.png" alt=""></td>
                                        <td>Blog app</td>
                                        <td>Personal Blog</td>
                                        <td>2016-05-25</td>
                                        <td>2016-05-25</td>
                                        <td>
                                            <a type="button" class="btn btn-outline-primary "
                                                href="/admin/editportfolio">Edit</a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->
                        </div>
                    </section>

            </main><!-- End #main -->

            <!--================ admin footer Area =================-->

            <%- include('../partials/admin/adminfooter')%>
                <!--================ end admin footer Area =================-->