<!--================Latest Blog Area =================-->

<div class="container">
    <div class="main_title">
        <h2>Latest Posts from Blog</h2>
        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
            price. You may see some for as low as $.17 each.</p>
    </div>
    <div class="row latest_blog_inner">
        <div class="col-lg-4">
            <div class="l_blog_item">
                <div class="l_blog_img">
                    <img class="img-fluid" src="img/blog/home-blog/home-blog-1.jpg" alt="">
                </div>
                <div class="l_blog_text">
                    <div class="date">
                        <a href="#">25 October, 2017 | By Mark Wiens</a>
                    </div>
                    <a href="#">
                        <h4>Addiction When Gambling Becomes A Problem</h4>
                    </a>
                    <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk
                        jockeys spend hours in front of their desktops, while delivery people scan bar codes
                        with handhelds and workers in the field stay</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="l_blog_item">
                <div class="l_blog_img">
                    <img class="img-fluid" src="img/blog/home-blog/home-blog-2.jpg" alt="">
                </div>
                <div class="l_blog_text">
                    <div class="date">
                        <a href="#">25 October, 2017 | By Mark Wiens</a>
                    </div>
                    <a href="#">
                        <h4>Make Myspace Your Best Designed Space</h4>
                    </a>
                    <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk
                        jockeys spend hours in front of their desktops, while delivery people scan bar codes
                        with handhelds and workers in the field stay</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="l_blog_item">
                <div class="l_blog_img">
                    <img class="img-fluid" src="img/blog/home-blog/home-blog-3.jpg" alt="">
                </div>
                <div class="l_blog_text">
                    <div class="date">
                        <a href="#">25 October, 2017 | By Mark Wiens</a>
                    </div>
                    <a href="#">
                        <h4>Video Games Playing With Imagination</h4>
                    </a>
                    <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk
                        jockeys spend hours in front of their desktops, while delivery people scan bar codes
                        with handhelds and workers in the field stay</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Latest Blog Area =================-->