<!--================Projects Area =================-->

<div class="container">
    <div class="main_title">
        <h2>Our Recent Completed Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </div>
    <div class="projects_fillter">
        <ul class="filter list">
            <li class="active" data-filter="*"><a href="#">All Categories</a></li>
            <li data-filter=".brand"><a href="#">Branding</a></li>
            <li data-filter=".work"><a href="#">Creative Work </a></li>
            <li data-filter=".web"><a href="#">Web Design</a></li>
        </ul>
    </div>
    <div class="projects_inner row">
        <div class="col-lg-4 col-sm-6 brand web">
            <div class="projects_item">
                <img class="img-fluid" src="home/img/projects/projects-1.jpg" alt="">
                <div class="projects_text">
                    <a href="/portfolio">
                        <h4>3D Helmet Design</h4>
                    </a>
                    <p>Client Project</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 brand work">
            <div class="projects_item">
                <img class="img-fluid" src="home/img/projects/projects-2.jpg" alt="">
                <div class="projects_text">
                    <a href="/portfolio">
                        <h4>3D Helmet Design</h4>
                    </a>
                    <p>Client Project</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 work">
            <div class="projects_item">
                <img class="img-fluid" src="home/img/projects/projects-3.jpg" alt="">
                <div class="projects_text">
                    <a href="portfolio-details.html">
                        <h4>3D Helmet Design</h4>
                    </a>
                    <p>Client Project</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 brand web">
            <div class="projects_item">
                <img class="img-fluid" src="home/img/projects/projects-4.jpg" alt="">
                <div class="projects_text">
                    <a href="portfolio-details.html">
                        <h4>3D Helmet Design</h4>
                    </a>
                    <p>Client Project</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 brand work">
            <div class="projects_item">
                <img class="img-fluid" src="home/img/projects/projects-5.jpg" alt="">
                <div class="projects_text">
                    <a href="portfolio-details.html">
                        <h4>3D Helmet Design</h4>
                    </a>
                    <p>Client Project</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 brand work web">
            <div class="projects_item">
                <img class="img-fluid" src="home/img/projects/projects-6.jpg" alt="">
                <div class="projects_text">
                    <a href="portfolio-details.html">
                        <h4>3D Helmet Design</h4>
                    </a>
                    <p>Client Project</p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Projects Area =================-->