<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-heading">Pages</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/manageblog">
                <i class="bi bi-box"></i>
                <span>Manage Blogs</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/manageportfolio/1">
                <i class="bi bi-bag-check"></i>
                <span>Manage Portfolio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/messages">
                <i class="bi bi-chat-left-text"></i>
                <span>Messages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/notifications">
                <i class="bi bi-bell"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-box-arrow-left"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->